/***************Form Css***************/
.fm-label label{vertical-align:middle;}
.fm-tooltip{display:inline-block;margin:2px 0 0 5px;}
.fm-tooltip .demo-icon{font-size:15px;line-height:15px;float:none;width:auto;height:auto;margin:0;text-align:center;color:#92A0B3;border:0;}
.fm-radio-inline-block{display:block;padding-left:0px;}
.fm-control .fm-radio-inline-block:first-child{padding-left:0px;}

@media (min-width:768px){.fm-radio-inline-block{display:inline-block;padding-left:20px;}}

@media (min-width:768px){.fm-submit{text-align:left;}
 .fm-cancel{text-align:right;}}

.jcrop-holder #preview-pane{z-index:60;}

/***************Page Content Css***************/
#page-content{margin-left:0px;padding:20px 30px;}

/***************Pag Header Css***************/
#page-header{padding:0 20px;background:#444;}
#header-nav-right{padding:0;}

#header-nav-left .language-btn{height:28px;line-height:28px;margin:15px 15px 0 0;vertical-align:top;}
#header-nav-left .language-btn > a{color:#fff;}
#header-nav-left .language > a{display:block;height:28px;line-height:28px;}
#header-nav-left .language-btn > a span{font-weight:bold;font-size:14px;padding-right:5px;display:block;float:left;}
.header-nav-title{height:40px;line-height:40px;margin:10px;font-size:16px;font-weight:bold;color:#fff;float:left;}
#header-nav-left .user-account-btn > a{color:#fff;}

#page-header .user-account-btn .dropdown-menu,#page-header .language-btn .dropdown-menu{top:57px;position:fixed;left:0}
@media (min-width:768px){#page-header .user-account-btn .dropdown-menu,#page-header .language-btn .dropdown-menu{top:42px;position:absolute;left:auto}}
@media only screen and (max-width:991px){.box-sm{min-width:300px;}}
.dropdown-menu:after,.dropdown-menu:before{display:none !important;}

/***************Menu Icon Css***************/
.menu-icon{font-size:22px;line-height:40px;float:left;width:20px;height:40px;margin:10px 0;text-align:center;color:#fff;border-radius:3px;}

/***************breadcrumb css***************/
.breadcrumb{display:none;background:#ecf0f1;height:35px;line-height:35px;position:relative;margin:0 -30px 15px;padding:0 30px;}
.breadcrumb ul{padding:0px;list-style:none;}
.breadcrumb ul li{float:left;color:#080808;}
.breadcrumb ul li + li:before{content:"/";color:#080808;padding:0 14px;}
.breadcrumb ul li a{color:#3498db}
.breadcrumb .blueText{color:#3498db}
@media (min-width:768px){.breadcrumb{display:block;}}

/***************Primary Button Css***************/
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary,.btn-primary.disabled,.btn-primary[disabled],.btn-primary.disabled:hover,.btn-primary[disabled]:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,.btn-primary.disabled.active,.btn-primary[disabled].active{background:#000;border-color:#000;}
.nav > li.active > a,.nav > li.active > a:hover,.nav > li.active > a:focus{background:#000;border-color:#000;}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus{background:#000;border-color:#000;}
.form-wizard > ul > li.active .wizard-step{background:#000;border-color:#000;}

/***************Input switch alternate bg color Css***************/
div.switch-toggle.switch-on{color:#fff;background-color:#000;}

/***************Multi select bg color Css***************/
.ms-list .ms-hover,.group-option-highlighted{background-color:#000;}

/***************Chosen select bg color Css***************/
.chosen-container .chosen-results li.active-result.highlighted{background-color:#000;}

/***************Daterangepicker active bg color Css***************/
.bsdatepicker td.active,.bsdatepicker td.day.active:hover,.daterangepicker td.active,.daterangepicker td.available.active:hover{background-color:#000;border-color:#000;}
.daterangepicker .ranges li.active,.daterangepicker .ranges li.active:hover{background-color:#000;border-color:#000;}

/***************Ion range slider bg color Css***************/
.irs-diapason{background-color:#000;}
.irs-line-mid,.irs-line-left,.irs-line-right{background-color:#FEFEFF;}

/***************Responsive Data Table Css For Listing Page***************/
.rdtButton .btn{margin:0;line-height:20px;min-width:22px;height:22px;font-size:10px;padding:0 5px;}
.rdtChosen{margin-bottom:10px;}
.rdtChosen label{display:block;text-align:left;}
@media (min-width:992px){.rdtButton .btn{margin:9px 0;}}

/***************Detail Page***************/
.cg-group{margin-bottom:20px}

/***************Acl Page***************/
.cl-box-title{font-size:14px;font-weight:bold;padding:10px 0;}
.cl-box-main{margin:5px 0;}
.cl-module{width:100%;float:left;font-size:14px;font-weight:400;height:34px;line-height:34px;}
.cl-permission{width:100%;float:left;}
@media (min-width:768px){.cl-module{width:50%;}
 .cl-permission{width:50%;text-align:right}}

/***************Detail Page Responsive Tab***************/
.dt-tab .example-box-wrapper{margin-bottom:0;}
.dt-tab .example-box-wrapper .nav{margin-bottom:0px;}
.dt-tab .nav-tabs{padding:0;}

/***************Dashboard Chart 1***************/
.dashboard-box .content-wrapper{overflow:hidden;margin:0 15px 15px;padding:22px 0 0;}

.dc1-header .dc1-title{font-size:22px;line-height:1;text-align:left;}
.dc1-header .dc1-date{text-align:left}
@media (min-width:768px){.dc1-header{margin-bottom:20px;}
 .dc1-header .dc1-title{font-size:28px;line-height:1;text-align:left;}
 .dc1-header .dc1-date{text-align:right}}

/***************Dashboard Donught Table***************/
.cs-table table td{width:100%;}

/***************Nestable lists***************/
.cg-dd .dd-handle{display:block;-moz-box-sizing:border-box;box-sizing:border-box;height:36px;margin:10px 0;padding:5px 10px;text-decoration:none;color:#333;border:1px solid #f6f8f8;-webkit-border-radius:3px;border-radius:3px;background:#f6f6f6;font-size:14px;font-weight:400;}
.cg-dd .dd-list .dd-list{padding-left:15px;}

/***************Hide Page Title***************/
@media only screen and (max-width: 760px){
    #page-content-wrapper {
     padding-top: 60px; 
}
}
#page-title h2{margin-bottom:8px;}
#page-title > p{display:none;}
#page-title{padding:20px 30px 0;position:relative;background:rgba(252,252,252,0.89);margin:-20px -30px 30px;}

.mrgB20{margin-bottom:20px}
.datatable-scroll{min-height:300px;}

/* NS/CTO Code */
.bg1{
 background: #3366cc none repeat scroll 0 0;
 border-color: #3366cc;
}
.bg2{
 background: #990099 none repeat scroll 0 0;
 border-color: #990099;
}
.bg3{
 background: #109618 none repeat scroll 0 0;
 border-color: #109618;
}
.bg4{
 background: #ff9900 none repeat scroll 0 0;
 border-color: #ff9900;
}
.bg5{
 background: #dc3912 none repeat scroll 0 0;
 border-color: #dc3912;
}

.parsley-errors-list li {
 color: #F44336 !important;
}
a.badge:hover {color: #ffffff;}
.hide {display: none !important;}
.dataTable .dropdown-menu > ul {display: block !important;}

/***************Image Overlay***************/
@media(max-width:1024px){.thumbnail-box{padding-bottom:60px;}
.thumbnail-box .thumb-content{display:block;top:auto;bottom:0;height:60px;} 
.thumbnail-box .thumb-overlay{display:block;top:auto;bottom:0;height:60px;opacity:1;visibility:visible;}
.thumbnail-box:hover img{transform:none;}}